/* VENTANA EMERGENTE */

.contenedor__todo{

    height: 100%;
    display: flex;
}


/*Formularios*/

.contenedor__editar-productos{  
    align-items: center;
    text-align: center;
    width: 100%;
    background-color: #000000d4;
}

#h2-titu{
    text-align: left;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border-color: #000000;
    
    
}
/* ------------------ */

/* FORMULARIO */

.campos-right{
    width: 100%;    
    text-align: center;
    margin-bottom: 0px;
}

.contenedor__editar-productos form input{
    width: 700px;
    height: 100px;
    margin-top: 4px;
    margin-bottom: 20px;
    padding: 10px 4px;
    border: none;
    background: #696868;
    font-size: 16px;
    outline: none;
    border-radius: 10px;
    text-align: center;
}


label{
    font-size: smaller;
    color: #dad8d3;
}


.btn-confirmacion{
    text-align: center;
    margin-left: 35%;
}
.btn-cancelar{
    background-color: #dad8d3;
    color: black;
    font-family: 'Inter', sans-serif;
    border-radius: 50px;
    padding: 4px;
    box-shadow: 0.2px 0.4px 0.4px #82828267; /* Sombra del botón*/
    cursor: pointer;
    width: 80px;
    margin-bottom: 20px;

}

.btn-guardar{
    background-color: #F34234;
    color: black;
    font-family: 'Inter', sans-serif;
    border-radius: 50px;
    padding: 4px;
    box-shadow: 0.2px 0.4px 0.4px hsla(0, 0%, 62%, 0.404); /* Sombra del botón*/
    cursor: pointer;
    width: 80px;
    margin-bottom: 20px;
}



/* PAGINACION */

.pagina {
    text-align: center;
    margin-top: 20px;
}

.paginacion {
    list-style: none;
    padding: 0;
    display: inline-block;
}

.paginacion li {
    display: inline;
    margin: 0 5px;
    padding-inline-start: 80px;
}

.paginacion li a {
    text-decoration: none;
    padding: 5px 10px;
    background-color: #F34234;
    color: white;
    border-radius: 50%; 
    margin: 0 5px;
}

.paginacion li a:hover {
    background-color: #ffffff;
    color: #000;
}

#inactivo{
    background-color: #dad8d3;
    color: #000;
}