:root{
    --color-primario: rgba(243, 66, 52, 1); /* Color para los botones y es igual al rojo del logo */
    --letra-oscuro: rgb(20, 17, 13);
    --letra-clara: rgb(255, 247, 247);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #000000;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    
}

.header {
    background-color: rgb(32, 32, 32);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 84px;
    padding: 5px 5%;
    
}

.header .logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--letra-clara);
    cursor: pointer;
    margin: 4px;
    transition: all 0.3s;
}

.header .logo img {
    width: 70px;
    height: 70px;
    
}

.header .logo:hover{
    transform: scale(1.1);
    
}

.header .nav-links {
    list-style: none;
    margin: 4px;
}

.header .nav-links li{
    display: inline-block;
    padding: 0 20px;
    transition: 0.2s;
}

.header .nav-links a{
    font-size: 700;
    color: var(--letra-clara);
    text-decoration: none;

}

.header .nav-links li:hover{
    transform: scale(1.1);
    transition: 0.3s;
}

.header .nav-links a:hover{
     color: var(--color-primario);  
}

.header .botones button{
    font-weight: 700;
    color: black;
    padding: 8px 24px;
    margin: 4px;
    background-color: var(--color-primario);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s;
}

.header .botones button:hover{
    background-color: pink;
    transform: scale(1.05);
}

@media (max-width: 1090px){
    .header .Titulo{
        font-size: 0;
    }
}

@media (max-width: 950px){
        .header .nav-links li{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 20px;
        transition: 0.2s;
    }
}

@media (max-width: 626px){
    .header .botones button{
        display: flex;
        flex-direction: row;
        align-items: center;
        font-weight: 700;
        color: black;
        padding: 8px 24px;
        margin: 4px;
        background-color: var(--color-primario);
        border: none;
        border-radius: 50px;
        cursor: pointer;
        transition: all 0.3s;
        transform: scale(0.7);
    }

    .header .botones button:hover{
        background-color: pink;
        transform: scale(0.75);
    }
}

/*Opeciones del administrador*/



.lista_opciones_admin{
    font-size: 20px;
    color: var(--letra-clara);
    display: flex;
    justify-content: center;
    margin: 10px 30px;
    list-style: none;
}

.lista_opciones_admin li {
    margin: 5px 20px;
}

.lista_opciones_admin li:hover {
    transition: all 0.3s;
    scale: 1.2;
}

.lista_opciones_stock{
    font-size: 20px;
    color: var(--letra-oscuro);
    background-color: white;
    display: flex;
    justify-content: center;
    padding: 5px;
    list-style: none;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.lista_opciones_stock li{
    margin: 0px 35px;
}

.lista_opciones_stock li:hover {
    transition: all 0.3s;
    scale: 1.2;
}


 .seleccionado{
    color:var(--color-primario);
}

/* Contenedor de la tabla y botones*/

.botones_tabla_ingredientes{
    display: flex;
}

.botones_tabla_ingredientes .botones button{
    scale: 1.2;
    font-weight: 700;
    color: black;
    padding: 8px 24px;
    margin: 4px 20px;
    
    background-color: var(--color-primario);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s;
}

.botones_tabla_ingredientes  .botones button:hover{
    background-color: pink;
    transform: scale(1.05);
}
.botones_tabla_ingredientes .botones {
    margin-top: 30px;
    margin-right: 25px;
}

.contenedor_tabla_ingredientes{
    margin: 0px 25px;
    background-color: rgb(32, 32, 32) ;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;  
    padding-bottom: 40px;
} 


/* Estilos de la tabla de ingredientes */

.contenedor_de_la_tabla{
    display: flex;
    justify-content: center;
}

.tabla_ingredientes{
    margin-top: 40px;
    border:4px solid black;
    background-color: #ccc;
    border-collapse: collapse;
}

.tabla_ingredientes td{
    border: 2px solid black;
    padding: 5px 10px;
}

.columnas_head_ingredientes{
    font-size: 20px;
    background-color: #000000;
    text-align: center;
}

.columnas_head_ingredientes td{
    
    color: var(--letra-clara);
    font-size: 20px;
    background-color: #000000;
}

.columnas_items_ingredientes{
    border:2px solid black;
    padding: 8px;
    color: var(--letra-oscuro);
    text-align: center;
}

.botones_dentro_tabla_ingredientes{
    padding: 4px 8px;
}

.boton_editar_tabla_ingredientes{
    background-color: #FD9601;
    border-radius: 8px;
    padding: 4px 8px;
}

.boton_eliminar_tabla_ingredientes{
    background-color: #dc281f;
    border-radius: 8px;
    padding: 4px 8px;
}

.botones_dentro_tabla_ingredientes button:hover{
    transition: all 0.3s;
    scale: 1.05;
    
}


/*.segunda_barra{
    color: var(--letra-oscuro);
    background-color: white;
    border-bottom-left-radius: 20px ;
    border-bottom-right-radius:20px ;
}*/






/* Footer */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(32, 32, 32);
    padding: 16px 64px;
    margin-top:  150px;
    
    
}

footer p {
    font-size: 14;
    color: #9795B5;

}

/* Estilo de botones redes sociales */
.container-socialmedia button {
    background: linear-gradient(to bottom, #FD9601, #F34234); /*Efecto gradiente de colores*/
    border: 2px solid #000000;
    border-radius: 16px;
    padding: 8px 8px;
}

.container-socialmedia button:hover{
    /* Efecto en hover */
    transform: translateY(-3px) scale(1.05);
}

.container-socialmedia svg {
    /* Tamaño iconos svg */
    width: 16px;
    height: 16px;
}