:root{
    --color-primario: rgba(243, 66, 52, 1); /* Color para los botones y es igual al rojo del logo */
    --letra-oscuro: rgb(20, 17, 13);
    --letra-clara: rgb(255, 247, 247);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

body{
    background-image: url(Fondo_Hamburguesa.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.header {
    background-color: rgb(32, 32, 32);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 84px;
    padding: 5px 5%;
    
}

.header .logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--letra-clara);
    cursor: pointer;
    margin: 4px;
    transition: all 0.3s;
}

.header .logo img {
    width: 70px;
    height: 70px;
    
}

.header .logo:hover{
    transform: scale(1.1);
    
}

.header .nav-links {
    list-style: none;
    margin: 4px;
}

.header .nav-links li{
    display: inline-block;
    padding: 0 20px;
    transition: 0.2s;
}

.header .nav-links a{
    font-size: 700;
    color: var(--letra-clara);
    text-decoration: none;

}

.header .nav-links li:hover{
    transform: scale(1.1);
    transition: 0.3s;
}

.header .nav-links a:hover{
     color: var(--color-primario);  
}

.header .botones button{
    font-weight: 700;
    color: black;
    padding: 8px 24px;
    margin: 4px;
    background-color: var(--color-primario);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s;
}

.header .botones button:hover{
    background-color: pink;
    transform: scale(1.05);
}

.header .Menu-De-Opciones{
    float: right;
    display: flex;
    align-items: center;
    min-height: 90px;
    z-index: 1000;
    list-style: none;
    padding: 0 10px;
    color: var(--color-primario);
}

.header .Menu-De-Opciones li{
    display: inline-block;
    position: relative;
    transition: 0.15s ;
    z-index: 1000;
    
}

.header .Menu-De-Opciones li:hover{
    transform: scale(1.05);
}

.header .Menu-De-Opciones .Nombre-Usuario{
    display: flex;
    align-items: center;
}

.header .Menu-De-Opciones .Nombre-Usuario a{
    color: var(--color-primario);
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    padding: 12px 20px;
    transition: 0.15s ;
}

.header .Menu-De-Opciones .Nombre-Usuario a:hover{
    color: pink;
    transform: scale(1.05);
}

.header .Menu-De-Opciones .Nombre-Usuario img{
    width: 40px;
    height: 40px;

}

.header .Menu-De-Opciones .Hijos{
    height: auto;
    border-radius: 24px;
    padding: 20px 10px;
}

.header .Menu-De-Opciones .Hijos a{
    color: var(--letra-oscuro);
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    padding: 12px 20px;
    transition: 0.15s ;
    border-radius: 1000px;
}

.header .Menu-De-Opciones .Hijos a:hover{
    background-color: pink;
    transform: scale(0.9);
}

.header .Menu-De-Opciones li:hover .Hijos{
    display: block;
}

.header .Menu-De-Opciones .Submenu .Hijos{
    display: none;
    background: var(--color-primario);
    position: absolute;
    width: 100%;
}

.header .Menu-De-Opciones .Submenu .Hijos li{
    display: block;
    overflow: hidden;
    border-bottom: none;
}

.header .Menu-De-Opciones .Submenu .Hijos li a{
    display: block;
}

@media (max-width: 1090px){
    .header .Titulo{
        font-size: 0;
    }
}

@media (max-width: 950px){
        .header .nav-links li{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 20px;
        transition: 0.2s;
    }
}

@media (max-width: 626px){
    .header .botones button{
        display: flex;
        flex-direction: row;
        align-items: center;
        font-weight: 700;
        color: black;
        padding: 8px 24px;
        margin: 4px;
        background-color: var(--color-primario);
        border: none;
        border-radius: 50px;
        cursor: pointer;
        transition: all 0.3s;
        transform: scale(0.7);
    }

    .header .botones button:hover{
        background-color: pink;
        transform: scale(0.75);
    }
}

main{
    width: 100%;
    padding: 20px;
    margin: auto;
    margin-top: 100px;
}

.contenedor__todo{
    width: 100%;
    max-width: 800px;
    margin: auto;
    position: relative;
}

.caja__trasera{
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(33, 38, 43, 1);

}

.caja__trasera div{
    margin: 100px 40px;
    color: var(--letra-clara);
    transition: all 500ms;
}


.caja__trasera div p,
.caja__trasera button{
    margin-top: 30px;
}

.caja__trasera div h3{
    font-weight: 400;
    font-size: 26px;
}

.caja__trasera div p{
    font-size: 16px;
    font-weight: 300;
}

.caja__trasera button{
    padding: 10px 40px;
    border: 2px solid var(--letra-clara);
    font-size: 14px;
    background: transparent;
    font-weight: 600;
    cursor: pointer;
    color: var(--letra-clara);
    outline: none;
    transition: all 300ms;
}

.caja__trasera button:hover{
    background: var(--color-primario);
    color: var(--letra-oscuro);
    
}

/*Formularios*/

.contenedor__login-register{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 380px;
    position: relative;
    top: -185px;
    left: 10px;

    /*La transicion va despues del codigo JS*/
    transition: left 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
}

.contenedor__login-register form{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 80px 20px;
    background: rgb(32, 32, 32);
    position: absolute;
    border-radius: 20px;
}

.contenedor__login-register form h2{
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    color: var(--letra-clara);
}

.contenedor__login-register form input{
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    border: none;
    background: #cfcfcf;
    font-size: 16px;
    outline: none;
    border-radius: 50px;
    transition: all 0.3s;
}

.contenedor__login-register form input:hover{
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    border: none;
    background: #ffffff;
    font-size: 16px;
    outline: none;
    border-radius: 50px;
    transform: scale(1.05);
}

.contenedor__login-register .IniciarGoogle {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    border: none;
    background-color: #ffffff;
    font-size: 16px;
    outline: none;
    border-radius: 50px;
    color: var(--letra-oscuro);
    transition: all 0.3s;
}

.contenedor__login-register .IniciarGoogle img {
    margin-right: 50px;
    width: 30px;
    height: 30px;
}

.contenedor__login-register .IniciarGoogle:hover {
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    border: none;
    background: #ffffff;
    font-size: 16px;
    outline: none;
    border-radius: 50px;
    color: var(--letra-oscuro);
    transform: scale(1.05);
}

.contenedor__login-register form button{
    padding: 10px 40px;
    margin-top: 40px;
    border: none;
    font-size: 14px;
    background: var(--color-primario);
    font-weight: 600;
    cursor: pointer;
    color: var(--letra-oscuro);
    outline: none;
    border-radius: 50px;
    transition: all 0.3s;
}

.contenedor__login-register form button:hover{
    background: var(--color-primario);
    color: var(--letra-clara);
    transform: scale(1.1);
}

.formulario__login{
    opacity: 1;
    display: block;
}
.formulario__register{
    display: none;
}



@media screen and (max-width: 850px){

    main{
        margin-top: 50px;
    }

    .caja__trasera{
        max-width: 350px;
        height: 300px;
        flex-direction: column;
        margin: auto;
    }

    .caja__trasera div{
        margin: 0px;
        position: absolute;
    }


    /*Formularios*/

    .contenedor__login-register{
        top: -10px;
        left: -5px;
        margin: auto;
    }

    .contenedor__login-register form{
        position: relative;
    }
}

main {
    padding-top: 20px;
}

.container-titulo {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 64px 64px;
    /* padding-top: 8rem; */
    /* padding-bottom: 8rem; */
    background-image: url(Imagenes/Fondo\ hamburguesa.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;


}

.titulo {
    display: flex;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
    margin-top: 32px;
    font-size: 32px;
}

.container-menu {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: flex-start; /* Alinea arriba */
    height: 100vh; /* Ajusta la altura del contenedor al 100% de la ventana */
    margin-bottom: 20px;
}

/* Tamaño imágenes menu */
.container-menu img {
    width: 150px;
    height: 150px;
    border-radius: 24px;
}


.menu {
    text-align: center; /* Centra el texto horizontalmente */
}

.menu-tipos {
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se envuelvan en una nueva fila cuando no quepan en el ancho */
    justify-content: center; /* Centra los elementos horizontalmente */
    align-items: flex-start; /* Alinea arriba */
}

.hamburguesa {
    background-color:#DAD8D3;
    width: calc(25% - 90px); /* Ancho del 25% del contenedor con un margen entre elementos */
    margin: 8px; /* Espacio entre elementos */
    text-align: center; /* Centra el contenido horizontalmente */

    padding: 2px; /* Espaciado interno para el contenido */
    border: 4px solid #000000; /* Borde blanco de 2 píxeles */
    border-radius: 24px; /* Radio de borde para hacerlo redondeado */
    height: 300px; /* Altura máxima del recuadro */
    font-size: 16px;
    
}


.hamburguesa button {
    background: var(--color-primario);
    color: #000000;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
    box-shadow: 0px 1px 2px #000000; /* Sombra del botón*/
    border: 2px solid #000000;
    border-radius: 16px;
    padding: 10px 12px;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 10px; /* Separación entre los botones */
}


.hamburguesa button:active {
    background-color: #FF8E85;
    color: #ffffff;
}

.menu h1 {
    font-family: 'Inter', sans-serif;
    margin-left: 50px;
}

main h1 {
    color: #FCFFEB;
}


/* Footer */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(32, 32, 32);
    padding: 16px 64px;
    margin-top: 150px;
    
}

footer p {
    font-size: 14;
    color: #9795B5;

}

/* Estilo de botones redes sociales */
.container-socialmedia button {
    background: linear-gradient(to bottom, #FD9601, #F34234); /*Efecto gradiente de colores*/
    border: 2px solid #000000;
    border-radius: 16px;
    padding: 8px 8px;
}

.container-socialmedia button:hover{
    /* Efecto en hover */
    transform: translateY(-3px) scale(1.05);
}

.container-socialmedia svg {
    /* Tamaño iconos svg */
    width: 16px;
    height: 16px;
}

/* Responsive */

/* Estilos para pantallas pequeñas */
@media (max-width: 800px) {
    .container-titulo {
        padding: 4rem 0; /* Ajusta el espacio superior para pantallas pequeñas */
    }
    
    .container-menu {
        margin-bottom: 20px; /* Ajusta el margen inferior para pantallas pequeñas */
    }
    

    .hamburguesa {
        width: 100%; /* Cambia el ancho de los elementos para pantallas pequeñas */
        margin: 10px 0; /* Ajusta el espacio entre elementos para pantallas pequeñas */
        height: auto; /* Ajusta la altura automática para pantallas pequeñas */
    }

    .hamburguesa p {
        font-size: 10px; /* Ajusta el tamaño de fuente de los párrafos para pantallas pequeñas */
    }

    main {
        margin-bottom: 50px; /* Agrega espacio en la parte inferior de main */
      }
    
      footer {
        margin-top: 1200px; /* Agrega espacio en la parte superior del footer */
      }

}

/* Para pantallas entre 1048px y 800px */
@media (max-width: 1048px) and (min-width: 800px) {

    .hamburguesa p {
      overflow-y: auto; /* Habilita el desplazamiento vertical si es necesario */
      max-height: 120px; /* Altura máxima para el recuadro */
      font-size: 10px; /* Tamaño de fuente ajustado para encajar en el recuadro */
    }

    footer {
        margin-top: 5px; /* Agrega espacio en la parte superior del footer */
      }
  }
